body {
    font-family: 'VT323', monospace;
    background-color: #000;
    color: #fff;
}

.icon {
    width: 50px;
    height: 50px;
}

h1, p {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#jobTrendChart {
    margin: 20px auto;
    display: block;
}

#timeframe-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#timeframe-buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#timeframe-buttons button.active {
    background-color: #561EFF;
}

.hidden {
    display: none;
}

#variants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#variants-list div {
    background-color: #2A2A2A;
    padding: 4px 8px;
}

#variants-list.expanded {
    height: auto;
    overflow: visible;
}

#insight-section {
    margin-top: 20px;
}

#insight-section h2 {
    text-align: center;
}

#insight-section p {
    text-align: center;
}
