/* Add VT323 font family */
body, h1, h2, h3, h4, h5, h6, p, label, button, input, select {
    font-family: 'VT323', monospace;
}

/* Adjust the layout and styling */
body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 3em;
}

p {
    margin-bottom: 30px;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

input[type="text"] {
    width: 70%;
    padding: 12px;
    font-size: 1.2em;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

button {
    padding: 12px 24px;
    font-size: 1.2em;
    color: #fff;
    background-color: #7D52FF;
    border: 1px solid #7D52FF;
    border-radius: 5px;
    cursor: pointer;
}

#timeframe-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#timeframe-buttons button {
    padding: 12px 24px;
    font-size: 1.2em;
    color: #fff;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

/* Remove background and border for .content class */
.content {
    background-color: transparent;
    border: none;
}

/* Chart container adjustments */
canvas {
    display: block;
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
}
