body {
    font-family: 'VT323', monospace;
    background-color: #000;
    color: #fff;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.content {
    text-align: center;
    padding: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.primary-button {
    display: flex;
    height: 45px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #7D52FF;
    background-color: #382C5A;
    color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(18, 8, 44, 0.05);
}

input[type="text"] {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--Purple-200, #C0B9D4);
    background-color: #000;
    color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(18, 8, 44, 0.05);
    flex: 1 0 0;
}

#timeframe-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -1px;
    align-self: stretch;
    padding: 32px 0;
}

#timeframe-buttons button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid var(--Grey-150, #DCDAE1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    box-shadow: 0px 1px 2px 0px rgba(18, 8, 44, 0.05);
    color: #fff;
}

#timeframe-buttons button.active {
    background-color: #7D52FF;
}

.chip {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    background: #2A2A2A;
    border-radius: 16px;
    color: #fff;
}

canvas {
    margin: 20px 0;
}
